# PhishRadar — Capa 1
# Instalar con: pip install -r requirements.txt

requests==2.32.3      # Descargas HTTP de feeds
scikit-learn
pandas
numpy
plotly
scipy
python-whois
streamlit
python-Levenshtein
psycopg2-binary

# ── Capa 2 (ML) — se agregan después ──────────────────────────────────────
# scikit-learn
# pandas
# numpy

# ── Capa 4 (Dashboard) — se agregan después ───────────────────────────────
# streamlit
